.list {
  display: block;
  float: left;
}

#countryList1, #countryList2{
  list-style-type: none;
  width: 350px;
  margin-right: 150px;
  border: 2px solid black;
  text-align: center;
  height: 240px;
}

li {
  background: #AFB8CC;
  cursor: move;
  font-size: 1.25em;
  width: 280px;
  padding: 0px;
  margin: 5px;
}

.selected {
  background: black;
}

ul {
  list-style-type: none;
}