#container {
  background-color: #F4F4F4;
  width: 800px;
  height: 0px auto;
  margin-left: 200px;
}

.products {
  width: 786px;
  height: 110px;
  border: 2px solid black;
  padding: 5px
}

#mycart {
  width: 1000px;
  height: auto;
  outline: 1px solid black;
  padding: 10px;
  display: none;
}

#tabs {
  list-style-type: none;
}

#tabs li {
  display: inline-block;
  border: 1px solid black;
  padding: 10px;
  margin-top: 5px;
  margin-right: 5px;
  font: bold 16px sans-serif;
}

.productImage {
  width: 80px;
  height: 80px;
  float: left;
  line-height: 130px;
  vertical-align: middle;
  border: 1px solid black;
}

h2 {
  font-size: 14px;
  margin: 3px;
}

p {
  font-size: 14px;
  color: gray;
  margin: 3px;
}

input[type = "text"] {
  width: 20px;
  display: inline-block;
}

span.details {
  width: 300px;
  float: left;
  margin-left: 20px;
}

.quantity {
  margin-left: 80px;
  line-height: 100px;
  vertical-align: middle;
  color: gray;
}

input[type = "button"] {
  margin-left: 10px;
  line-height: 100px;
  vertical-align: middle;
  color: gray; 
}

#total {
  text-align: right;
  width: 700px;
  height: 60px;
  padding: 10px;
}

#total h3 {
  display: inline-block;
}

#total input[type = "button"] {
  width: 150px;
  height: 30px;
  text-align: center;
  background-color: gray;
  color: white;
}

#totalPrice {
  margin-left: 10px;
  width: 150px;
  height: 20px;
}

table, tr, th, td {
  border: 1px solid black;
  text-align: center;
}

th {
  font-size: 14px;
  color: gray;
  padding: 5px;
}

.highlight {
  background-color: gray;
}

table button {
  margin-top : 35px;
}